/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset css */
/*initiate height of document to fix nav sidebar*/
html, body {
	height: 100%;
	/*background-color:#E8E8E8;*/
}
/*start navigation*/
nav{
	background-color: lightblue;
	position: relative;
	height: 100%;
	width: 3%;
	display: inline-block;

}
nav .icon{
	position: absolute;
	top : 50%;
	left: 20%;
	transform: translate(0, -50%);
	z-index: 999;
}
nav .icon i{
	border-radius: 50%;
	background-color:lightblue;
	padding: 0.6rem;
	font-size: 1.8rem;
	color: white;
	margin : 1rem auto;
}
nav .icon i.active{
	border: 5px solid white;
	color: white;
	font-size: 2.5rem;
}
/*end navigation*/
/*start balance*/
#bal {
	position: absolute;
	left: 5%;
	height: 30%;
	width: 40%;
	background-color: red;
	top : 0;
	z-index: -999;
}